@using MyLife.Core.Extensions


<style>
    .avatar-image {
        height: 120px;
        border: 4px double black;
        border-radius: 12px;
    }

    .avatar-title {
        padding: 0px;
        margin: 0px;
    }

    .avatar-subtitle {
        margin-top: 0px;
        font-size: 1rem;
        color: darkgrey;
        text-align: center;
    }
</style>

@if(Persona != null)
{
    <div>
        <img title="@Persona.GetFullname()"
             class="avatar-image"
             alt="Avatar image of @Persona.GetFullname()"
             src="@Persona.AvatarImageUrls[0]" />

        <h1 class="avatar-title">@Persona.GetFullname()</h1>
        <p class="avatar-subtitle">@string.Join(" | ", Persona.Nicknames)</p>
    </div>
}

@code {
    [Parameter]
    public MyLife.Core.Models.Persona.Container? Persona { get; set; }
}
