@using MyLife.Blazor.Wasm.Components.Shared
@using MyLife.Blazor.Wasm.Extensions
@using MyLife.Blazor.Wasm.Utils.Extensions
@using MyLife.Core.Models.OpenSource

<div class="project-family">
    <div class="project-family-header">
        <img src="@Family.ImageUrl" alt="@Family.Name" />
        <div style="float: none">
            <h4>@Family.Name</h4>
            <p>@Family.Description</p>
        </div>
    </div>

    <ThumbnailGrid Items="@Family.Projects.Select(p => p.ToThumbnail())" />

    <hr />
</div>

@code {
    [Parameter]
    public required ProjectFamily Family { get; set; }
}
